*~
.cabal-sandbox/
cabal.sandbox.config
dist/
GL2014.TXT
HomeScoreAwayScore.png
HomeScoreAwayScoreDiff.png
aapl.csv
aapl.sql
aapl_20dayma.png
aapl_googl_msft_pc.png
aapl_oneyear_pc.png
all_month.csv
coinflips.png
earthquakes.png
earthquakes.sql
gl2014.zip
googl.csv
googl.sql
googl_oneyear_pc.png
huckfinn.txt
msft.csv
msft.sql
msft_oneyear_pc.png
runs_and_wins.png
runs_and_wins_with_regression.png
winloss.sql
winloss2014.csv
plot1.dat
plot2.dat
plot3.dat
LearnHaskDA/all_week.csv
